.videoCard{
    width: 30vmax;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin: 0.5vmax;
}

.videoCard>a{
    padding: 2.5vmax;
    transition: all 0.5s;
    border: none;
    background-color: rgb(64, 63, 63);
    color: white;
}

.videoCard>a>svg{
    fill:white;
}

.videoCard:hover a{
    background-color: aliceblue;
}

.videoCard p{
    color: white;
    margin: 1vmax;
}